<div>
  <%= note.created_at.strftime("%d.%m.%Y") %>
  <%= note.city %>
  <%= note.note_text %>
  <%= note.temperature %>
  <%= link_to 'Destroy', delete_note_path(id: note.id), method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to 'Edit', edit_note_path(id: note.id), method: :get %>
</div>