<%= form_with(model: @note, url: update_note_path, method: :patch) do |f| %>
  <div class="form-group">
    <%= f.text_field :city, placeholder: "City", value: @note.city %>
  </div>
  <div class="form-group">
    <%= f.text_field :temperature, placeholder: "Temperature", value: @note.temperature %>
  </div>
  <div class="form-group">
    <%= f.text_area :note_text, cols: "50", rows: "6",  placeholder: "Note text", value: @note.note_text  %>
  </div>
  <div class="form-group button">
    <%= f.submit "Save" %>
  </div>
<% end %>